<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="container mt-5 mb-5 ">
  <div class="btn-group-vertical">
    <a href="/genres/28"><button class="w3-button w3-pale-red">action</button></a>
    <a href="/genres/12"><button class="w3-button w3-pale-red">adventure</button></a>
    <a href="/genres/16"><button class="w3-button w3-pale-red">animation</button></a>
    <a href="/genres/35"><button class="w3-button w3-pale-red">comedy</button></a>
    <a href="/genres/99"><button class="w3-button w3-pale-red">documentary</button></a>
    <a href="/genres/18"><button class="w3-button w3-pale-red">drama</button></a>
    <a href="/genres/10751"><button class="w3-button w3-pale-red">family</button></a>
    <a href="/genres/14"><button class="w3-button w3-pale-red">fantasy</button></a>
    <a href="/genres/36"><button class="w3-button w3-pale-red">history</button></a>
    <a href="/genres/27"><button class="w3-button w3-pale-red">horror</button></a>
    <a href="/genres/10749"><button class="w3-button w3-pale-red">romance</button></a>
    <a href="/genres/878"><button class="w3-button w3-pale-red">sci-fi</button></a>
    <a href="/genres/10752"><button class="w3-button w3-pale-red">war</button></a>
  </div>
</div>